#shortener_form {
    margin-top : 84px;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

body {
    background-color: #f5f5f5;
}

.row {
    min-height: 500px;
}
table th {
    padding-right: 12px;
    color: #7f7e7e;
}

table td {
    text-align: center;
}

#redirection_a {
    margin-top : 42px;
    font-size: 2.5em;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

#last_urls {
    margin-top : 42px;
    margin-left:auto;
    margin-right:auto;
}

#last_urls tr {
    border-top: 1px solid gray;
}

#last_urls td, th {
    padding: 10px;
}

#active-users-map {
    height: 400px;
    width: 600px;
}