<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/general.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        {% block extra-head %}{% endblock %}
    </head>

    <body>
    {% block content %}{% endblock %}
    </body>
</html>