{% extends "base.html" %}
{% load i18n %}

{% block extra-head %}
    {{ block.super }}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_MAPS_KEY }}" type="text/javascript"></script>
    <script type="text/javascript">
        {% include 'user_map.js' %}
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="shortener" class="span6 offset3">
                <div id="active-users-map"></div>
            </div>
        </div>
    </div>

{% endblock %}