{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="shortener" class="span6 offset3">
                {% if form %}
                    <form id="shortener_form" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="{% trans "Shorten" %}" class="btn btn-large btn-success"/>
                            </td>
                        </tr>
                    </table>
                    </form>

                {% endif %}
                {% if shortened_url %}
                    <div id="redirection_a">
                    <a href="{{ shortened_url }}">{{ shortened_url }}</a>
                    </div>
                {% endif %}

                {% if last_urls %}
                   <table id="last_urls">
                       <thead>
                       <tr>
                           <th>{% trans "Long url" %}</th>
                           <th>{% trans "Shortened url" %}</th>
                           <th>{% trans "Date" %}</th>
                           <th>{% trans "Count" %}</th>
                           <th>{% trans "Details" %}</th>
                       </tr>
                       </thead>
                       {% for last_url in last_urls %}
                           <tr>
                               <td><a href="{{ last_url.url }}">{{ last_url.url }}</a></td>
                               <td><a href="{% url "shortener.views.redirect" last_url.shortened %}">{% url "shortener.views.redirect" last_url.shortened %}</a></td>
                               <td>{{ last_url.creation_date|naturaltime }}</td>
                               <td>{{ last_url.tracked.count }}</td>
                               <td><a class="btn btn-small" href="{% url "shortener.views.details" last_url.shortened %}">{% trans "Go" %}</a></td>
                           </tr>
                       {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}